<div class='row'>
  <%= form_for [@vehicle, @service] do |f| %>
    <div class='row'>
      <div class="input-field col s12">
      <%= f.text_field :name %>
      <%= f.label :service, autofocus: true %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
      <%= f.text_area :body, class: 'materialize-textarea' %>
      <%= f.label :descrption %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
      <%= f.date_select :date %>
      <%= f.label :date %>
      </div>
    </div>
    
    <div class='row'>
      <div class="input-field col s12">
      <%= f.select :provider, ['Self', 'Shop'] %>
      <%= f.label :provider %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
        <%= f.submit 'Submit', class: 'btn black' %>
      </div>
    </div>

    
  <% end %>
</div>