<div class='row'>
  <%= form_for [@vehicle, @service] do |f| %>
    <div class='row'>
      <div class="input-field col s12">
      <%= f.text_field :name, required: true, autofocus: true %>
      <%= f.label :service %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
      <h6>Description</h6>
      <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
      <h6>Milage(required)</h6>
      <%= f.text_field :mileage, required: true %>
      </div>
    </div>

    <div class='row'>
      <h6>Provider</h6>
      <div class="input-field col s2">
        <%= f.select :provider, ['Self', 'Shop'], {}, class: 'browser-default' %>
      </div> 
    </div>

    <div class='row'>
      <h6>Date</h6>
      <div class="input-field col s2">
        <%= f.date_field :date, required: true %>
      </div>
    </div>     

    <div class='row'>
      <h6>File</h6>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <%= f.file_field :avatar %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <br />

    <div class='row'>
      <div class="input-field col s12">
        <%= f.submit 'Submit', class: 'btn' %>
      </div>
    </div>
    
  <% end %>
</div>