<div class='row'>
  <%= form_for [@vehicle, @service] do |f| %>
    <div class='row'>
      <div class="input-field col s12">
      <%= f.text_field :name %>
      <%= f.label :service, autofocus: true %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
      <%= f.text_area :description, class: 'materialize-textarea' %>
      <%= f.label :descrption %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s12">
      <%= f.text_field :mileage %>
      <%= f.label :mileage %>
      </div>
    </div>

    <div class='row'>
      <div class="input-field col s2">
        <%= f.label :provider %>
        <%= f.select :provider, ['Self', 'Shop'], {}, class: 'browser-default' %>
      </div> 
    </div>


    <div class='row'>
      <div class="input-field col s2">
      <input type="date" class="datepicker">
      <%= f.label :date %>
      </div>
    </div>     

    <br />
    <div class='row'>
      <div class="input-field col s12">
        <%= f.submit 'Submit', class: 'btn black' %>
      </div>
    </div>

    
  <% end %>
</div>