<div class='center'>
  <h3><%= @vehicle.carname %></h3>
  <h4><%= @service.name %></h4>
  <%= image_tag @service.avatar_url(:thumb) %>
  <p><%= @service.date %></p>
  <p>Provider: <%= @service.provider %></p>
  <p><%= @service.mileage %> Miles</p>
  <p><%= @service.description %></p>
</div>

<br />
<%= link_to "Edit", edit_vehicle_service_path(@vehicle, @service), class: 'btn' %>
<%= link_to 'Back', vehicle_path(@vehicle),class: 'btn' %>