<div class='center'>
  <h3><%= @vehicle.carname %></h3>
  <h1><%= @service.name %></h1>
  <p><%= @service.date %></p>
  <p><%= @service.provider %></p>
  <p><%= @service.mileage %></p>
  <p><%= @service.body %></p>
</div>

<br />
<%= link_to "Edit", edit_vehicle_service_path(@vehicle, @service), class: 'btn' %>