<div class='container'>
  <h3><%= @vehicle.carname %></h3>
  <h5><%= @service.name %></h5>
    <ul>
      <li>&nbsp&nbsp&nbsp&nbsp<%= @service.date %></li>
      <li>&nbsp&nbsp&nbsp&nbspProvider: <%= @service.provider %></li>
      <li>&nbsp&nbsp&nbsp&nbsp<%= @service.mileage %> Miles</li>
      <li>&nbsp&nbsp&nbsp&nbsp<%= @service.description %></li>
    </ul>
    <%= image_tag @service.avatar_url(:thumb) %>
<br />
<%= link_to "Edit", edit_vehicle_service_path(@vehicle, @service), class: 'btn' %>
<%= link_to 'Back', vehicle_path(@vehicle),class: 'btn' %>
</div>

