<div class="container">
<div class="row">
  <div class="col s8">
    <h3>Vehicles for: <%= current_user.username %></h3>
  </div>
  <div class="col s4 add_btn">
   <%= link_to 'Add Vehicle', new_vehicle_path, class: 'btn right aligned'%>
  </div>
</div>
<hr />
<% if current_user.vehicles.any? %>
<div class="row">
  <% @vehicles.each do |vehicle| %>
    <div class="col s4">
      <div class="card">
        <div class="card-image index-vehicle-img">
          <img src="<%= vehicle.avatar_url %>" class= 'index-vehicle-img'/>
            </div>
            <div class="card-action">
            <div class='center'>
              <p><%= link_to vehicle.carname, vehicle_path(vehicle), class: 'black-border' %></p>
            </div>
              <%= link_to "Delete", vehicle_path(vehicle), method: :delete, class: 'btn' %>
              <%= link_to "Edit", edit_vehicle_path(vehicle), class: 'btn' %>
            </div>
        </div>
      </div>
  <%end%>
</div>
<% else %>
  <h2>You haven't added any vehicles.</h2>
<% end %>  
</div>
