<!DOCTYPE html>
<html>
<head>
  <title>HackathonOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Hackaton One</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Vehicles', vehicles_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    </ul>
  </div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row">
  <div class="col s8">
    <%= yield %>
  </div>
  <div class="col s4">
    <% if user_signed_in? %>
      <%= link_to 'Add To Do', new_todo_path %>
      <ol>
      <% current_user.todos.each do |todo| %>
        <li><%= link_to todo.title, todo_path(todo) %></li>
      <% end %>
    </ol>
  <% end %>
  </div>
</body>
</html>
